<!-- Begin Twitter Feed Section -->
<div>
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
            <div class="col-md-8 col-md-offset-2">
                <svg class="icon" viewBox="0 0 30 32">
                    <use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-twitter"></use>
                </svg>
                <h4>{{ site.tweetsFeedTitle }} <a href="https://twitter.com/search?q=%23{{ site.twitterHashTag }}" target="_blank">#{{ site.twitterHashTag }}</a>
                </h4>
                <a class="twitter-timeline" font-size="12px" data-chrome="nofooter noborders" data-width="600" data-height="500" data-dnt="true" href="https://twitter.com/aclmentorship?ref_src=twsrc%5Etfw">Tweets by aclmentorship</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                <a href="https://twitter.com/aclmentorship?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="true">Follow @aclmentorship</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>    

        </div>

    <!-- End Twitter Feed Section -->
        </div>
<div>